<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_Id</key>
	<string>bWuBu02GTBUtbAYWfmsF</string>
	<key>client_Secret</key>
	<string>BK6Ity8Isx</string>
</dict>
</plist>
